body {
  padding: 15px;
  text-align: center;
  font-family: 'Comic Sans MS', cursive;
  background-color: #FFDBDB;
  color: #FFF;
}

h1 {
  font-size: 36pt;
  margin-bottom: 25px;
}

iframe {
  margin: 50px auto;
  background: url('../images/loading.gif') #FFF fixed center no-repeat;
}

.buttonRow * {
  display: inline;
  margin: 0 10px;
}